{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Forgot Your Password? {% endblock title %}

{% block content %}  
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1>Forgot Your Password?</h1>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Send Me Instructions!">
            </form>
        </div>
    </div>
</div>
{% endblock content %}