{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Enter Your Password {% endblock title %}

{% block content %}  
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h2>Enter Your Password</h2>
            <form method="post" class="mt-4">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success" type="submit" value="Change My Password">
            </form>
        </div>
    </div>
</div>
{% endblock content %}