{% extends 'base.html' %}
{% block content %}
<div class="container bg-dark p-5 border border-warning border-2 shadow-lg p-5 mb-5 rounded" style="margin-top: 120px; border-radius: 5px; color:white">
    <section>
        <h2>Welcome</h2>
        <p>
            Welcome to the "About" page of the Help Desk Mail Tool. This tool has been created to streamline and enhance our work at the Cambium Assessment Inc. Help Desk.
        </p>
    </section>
    
    <section>
        <h2>Key Features</h2>
        <p>
            The Help Desk Mail Tool offers the following key features to help you with your tasks at Cambium Assessment Inc. Help Desk:
        </p>
        <ul>
            <li>For agents, you will be able to use any template available to you in order to generate commonly used emails.</li>
            <li>For Admins, you will be able to Add new Projects, add a signature to your project, create/edit and delete e-mail templates, and create/edit and delete form fields. </li>
        </ul>
    </section>
    
    <section>
        <h2>Contact and Support</h2>
        <p>
            If you have any questions, feedback, or encounter any issues while using the Help Desk Mail Tool, please feel free to contact the developer:
        </p>
        <ul>
            <li>Email: ash.s.fischer@gmail.com</li>
        </ul>
        <p>
            The Help Desk Mail Tool is developed and maintained by Ash Fischer for the benefit of our team at Cambium Assessment Inc. Your input and suggestions are highly appreciated.
        </p>
    </section>
    
    <section>
        <h2>Project Status</h2>
        <p>
            The Help Desk Mail Tool is actively maintained and improved to better assist our team. Future updates and enhancements are planned to make our work even more efficient.
        </p>
    </section>
</div>


{% endblock content %}
