{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    {{selected_project.name }}
{% endblock header %}
    
{% block content %}
<div class="container bg-dark p-5 border border-warning border-2 shadow-lg p-5 mb-5 rounded" style="margin-top: 120px; border-radius: 5px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <p class="nice-font underline-text-white" style="color: white;">Admin Panel.</p>
            </div>
            <div class="d-flex justify-content-center">
                <form method="post" class="mt-4 form-nice-font">
                    {% csrf_token %}
                        {{ form|crispy }}
                        <a class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" href="{% url 'add-project' %}">Add Project</a>
                        <button class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" type="submit" name="button_name" value="edit-signature">Edit Signature</button>
                        <button class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" type="submit" name="button_name" value="template-builder">Template Builder</button>
                        <button class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" type="submit" name="button_name" value="view-edit-templates">View/Edit Templates</button>
                        <button class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" type="submit" name="button_name" value="form-creator">Form Field Creator</button>
                        <button class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" type="submit" name="button_name" value="form-delete">Delete Forms</button>
                        <a class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded" href="{% url 'password_change' %}">Change Password</a>

                 </form>
            </div>
        </div>
    </div>
</div> 
{% endblock content %}
    