<p>{greeting} {user_name},</p>

<p>Thank you for contacting the HSAP Help Desk regarding System Access.</p>

<p>We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact one of your {testing_coordinator}, listed below, for assistance with creating a TIDE account.</p>

<p>Please Note, HIDOE state-level preference is the use of  Employee ID email in TIDE.</p>

<p>{coordinator_name_one} {coordinator_email_one}<br>
{coordinator_name_two} {coordinator_email_two}<br>
{coordinator_name_three} {coordinator_email_three}</p>

<p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>

<p>Please refer to this Allow List link for a list of Cambium URLs to ensure they are all added to the District Allowlist.</p>

<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>

<p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.</p>

<p>If you require any further assistance, please contact us using the phone number or email address listed below and reference case# {case_number}.</p>

<p>{closing},<br>
{agent_name}<br>
HSAP Help Desk<br>
Cambium Assessment, Inc.<br>
Tel 1.866.648.3712<br>
Fax 1.877.218.7663<br>
hsaphelpdesk@cambiumassessment.com</p>