<p>{greeting} {user_name},</p>

<p>Thank you for contacting the HSAP Help Desk regarding System Access.</p>

<p>We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact one of your {testing_coordinator}, listed below, for assistance with creating a TIDE account.</p>

<p>Please Note, HIDOE state-level preference is the use of  Employee ID email in TIDE.</p>

<p>{coordinator_name_one} {coordinator_email_one}<br>
{coordinator_name_two} {coordinator_email_two}<br>
{coordinator_name_three} {coordinator_email_three}</p>

<p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>

<p>Please refer to this Allow List link for a list of Cambium URLs to ensure they are all added to the District Allowlist.</p>

<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>

<p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.</p>

<p>If you require any further assistance, please contact us using the phone number or email address listed below and reference case# {case_number}.</p>

<p>{closing},<br>
{agent_name}<br>
HSAP Help Desk<br>
Cambium Assessment, Inc.<br>
Tel 1.866.648.3712<br>
Fax 1.877.218.7663<br>
hsaphelpdesk@cambiumassessment.com</p>

<p>{greeting} {user_name},</p>

<p>Thank you for contacting the Idaho Help Desk regarding System Access.</p>

<p>We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact one of your {testing_coordinator}s, listed below, for assistance with creating a TIDE account.</p>

<p>{coordinator_name_one} {coordinator_email_one}<br>
{coordinator_name_two} {coordinator_email_two}<br>
{coordinator_name_three} {coordinator_email_three}</p>

<p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>

<p>Please refer to this Allow List link for a list of Cambium URLs to ensure they are all added to the District Allowlist.</p>

<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>

<p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.</p>

<p>If you require any further assistance, please contact us using the phone number or email address listed below and reference case# {case_number}.</p>

<p>{closing},<br>
{agent_name}<br>
Idaho Help Desk<br>
Cambium Assessment, Inc.<br>
Tel 1.844.560.7365<br>
Fax 1.877.218.7663<br>
idhelpdesk@cambiumassessment.com</p>


<p>{greeting} {user_name},</p>

<p>Thank you for contacting the Washington help Desk regarding System Access.</p>

<p>We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact one of your {testing_coordinator}s, listed below, for assistance with creating a TIDE account.</p>

<p>{coordinator_name_one} {coordinator_email_one}<br>
{coordinator_name_two} {coordinator_email_two}<br>
{coordinator_name_three} {coordinator_email_three}</p>

<p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>

<p>Please refer to this Allow List link for a list of Cambium URLs to ensure they are all added to the District Allowlist.</p>

<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>

<p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.</p>

<p>If you require any further assistance, please contact us using the phone number or email address listed below and reference case# {case_number}.</p>

<p>{closing},<br>
{agent_name}<br>
Washington Help Desk<br>
Cambium Assessment, Inc.<br>
Tel 1.844.560.7366<br>
wahelpdesk@cambiumassessment.com</p>

<p>{greeting} {user_name},</p>

<p>Thank you for contacting the Ohio Help Desk regarding gaining access to TIDE. We have been unable to locate a TIDE account associated with either the name or email address provided.</p>

<p>Please contact one of your {testing_coordinator} for assistance with creating a TIDE account:</p>
    <p>{coordinator_name_one} {coordinator_email_one}<br>
    {coordinator_name_two} {coordinator_email_two}<br>
    {coordinator_name_three} {coordinator_email_three}</p>


<p>Once your account has been created, you will receive an email containing two secure links.  If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address.  You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>

<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>

<p>Please note, the secure link is only active for 15 minutes.  If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.</p>

<p>As always, if you have any additional questions or concerns please contact us. We can be reached by replying directly to this exchange, or by calling us at the phone number listed below. If calling regarding this matter, please reference case# {case_number}.</p>

<p>{closing},<br>
{agent_name}<br>
Ohio Help Desk<br>
Tel 1.877.231.7809<br>
Fax 1.877.218.7663<br>
ohhelpdesk@cambiumassessment.com<br>

<p>{greeting} {user_name},</p>
            <p>Thank you for contacting Texas Testing Support. We have been unable to locate a TIDE account associated with 
                either the name or email address provided. Please contact your {testing_coordinator} {coordinator_name} 
                at {coordinator_email} for assistance with creating a TIDE account.</p>
            <p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your 
                inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. 
                You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>
            <p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>
            <p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on 
                the second link in the email to request a new link.</p>
            <p>If you have any further questions you can reply directly to this email, or call us at the number listed below and reference 
                case# {case_number}.</p>
            <p>{closing},<br>
            {agent_name}<br>
            Texas Testing Support<br>
            Phone: 833-601-8821<br>
            Email: TexasTestingSupport@cambiumassessment.com<br>
            https://TexasAssessment.gov</p>