{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    {{selected_project_name}}
{% endblock header %}
    
{% block content %}
<div class="container-fluid" style="margin-top: 120px;">
    <div class="row align-items-center">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center underline-text-gold">
                <p class="nice-font">Please select a template.</p>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row pt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 mb-5">
            <div class="row">
                {% for template in email_templates %}
                    <div class="col-md-4">
                        <div class="d-flex justify-content-center">
                            <form method="post" action="{% url 'project-landing-page' selected_project %}">
                                {% csrf_token %}
                                <input type="hidden" name="template_subject" value="{{ template.subject }}">
                                <a class="btn btn-primary btn-lg custom-button pop-in-button border-2 my-3 button-nice-font" href="{% url 'email-template' name=selected_project.name email_subject=template.subject %}" role="button">{{ template.subject }}</a>
                            </form>                            
                        </div>  
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}