{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
    {{selected_project_name}}
{% endblock header %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <form method="post" action="{% url 'super-secret-three' %}" >
            {% csrf_token %}
            <div class="container-fluid my-5">
                <div class="row">
                    <div class="col-sm-2 custom-background form-label nice-font">
                        {{ form.project_selection|as_crispy_field }}
                    </div>
        
                    <div class="col-sm-5 custom-background form-label nice-font">
                        {{ form.unformatted_template_form|as_crispy_field }}
                        {{ form.formatted_template_form|as_crispy_field }}
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-outline-warning generate-button" type="submit">Format</button>
                        </div>
                    </div>
        
                    <div class="col-sm-5 custom-background">
                        <label for="preview_area" class="form-label nice-font">Template Preview</label>
                        <div id="preview_area" class="scrollable-div form-nice-font" >{{ preview_text|safe }}</div>
                    </div>
                </div>
            </div>
        </form>        
        
    </div>
</div>


{% endblock content %}
