{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
    {{selected_project.name }}
{% endblock header %}

{% block content %}
<div class="container bg-dark p-5 border border-warning border-2 shadow-lg p-5 mb-5 rounded" style="margin-top: 120px; border-radius: 5px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center">
                <p class="nice-font underline-text-white" style="color: white;">Your template has been added!</p>
            </div>
            <div class="d-flex justify-content-center">
                <div class="mt-4 form-nice-font">
                        <a href="{% url 'admin-panel' %}" class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded">Return to Admin Panel</a>
                        <a href="{% url 'home' %}" class="btn btn-warning btn-lg custom-button pop-in-button border-2 button-nice-font p-3 mb-2 rounded">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div> 


{% endblock content %}



    
