{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %}
    {{selected_project.name }}
{% endblock header %}

{% block content %}
<div class="container-fluid" style="border-radius: 5px;">
    <form method="post" action="{% url 'template-builder' name=selected_project.name %}" >
        {% csrf_token %}
        <div class="row" style="margin-top: 20px;">
        <div class="col-md-2">
            <div class="custom-background template-column">
                <p>Agent Fields:</p>
                <div class="form-nice-font">
                    {{ form.agent_fields|as_crispy_field }}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="custom-background template-column" >
                <p >Project Name: {{selected_project.name}}</p>
                {{ form.template_name|as_crispy_field }}
                {{ form.template|as_crispy_field }}
                <input type="hidden" name="formatted_template" value="{{ form.formatted_template.value }}">
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-warning generate-button" type="submit" name="format">Format</button>
                </div>
            </div>
        </div>
    
        <div class="col-md-5">
            <div class="custom-background template-column">
                <label for="preview_area" class="form-label nice-font">Template Preview</label>
                <div id="preview_area" class="scrollable-div form-nice-font" >{{ preview_text|safe }}</div>
                
                {% if preview_text %}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-outline-warning generate-button " type="submit" name="save">Save Template</button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </form>   
    <div class="row">
        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px">
            <div class="custom-background form-nice-font template-column" >
                <p ><b>Instructions:</b> Select a field or multiple fields from the left column. When constructing your template, 
                    be sure to add an exclaimation mark before the keyword that matches your selected field. For instance, if you selected the Greeting field,
                    you would add !Greeting to your template. Be sure to fill in your template applying your selected keywords to the part of the template that 
                    you want an agent to change.<p><b>Example:</b> Please contact your !Coordinator Choices !Coordinator Name at !Coordinator Email for assistance with creating 
                    a TIDE account.</p>
                    <p><b>Note:</b> When constructing your template, terminating a line with the enter key will create a new paragraph. If you do not want to create a paragraph
                        and would instead like a line break, for instance to create a list, then terminate each line by adding the !P keyword.
                    </p>
                    <p>This is a line terminate by pressing the enter key.</p>
                    <p>This is another line terminate by pressing the enter key.</p>
                    <p>These are items in a list.</p>
                        item 1 (using !P)<br>
                        item 2 (using !P)<br>
                        item 3 (using !P)<br><br>
                    <p><b>If you want your project's signature included in the email template, don't forget to add !Signature to the end of your template.</b></p>
            </div>
        </div>
    </div>      
</div>



{% endblock content %}