{Greeting} Project Team:

Please review the case below.

The user, {User Role} {User Name} {User Email} has requested that (Number of/All Tests)  test opportunities be moved from an incorrect EK to new EK (Correct EK number) .

The Results ID to be moved are from the (current, SYdate-date) test administration.

Incorrect EK: (Required, can we lock this so they can't use a Student ID Length?)

RID to be Moved:  (Required, Results ID to be moved number will vary, can you add field when field has been added? That's an interesting way to do it. If I add number, another field populates to be filled)

Correct EK:(Required, can we lock this so they can't use a Student ID Length?)

Thank you for your time and attention to this case.

 
Respectfully,
Agent Name
Signature Block

<p>{Greeting} {User Name},</p>
<p>Thank you for contacting Texas Testing Support. We have been unable to locate a TIDE account associated with 
    either the name or email address provided. Please contact your {Coordinator Choices} {Coordinator Name} 
    at {Coordinator Email} for assistance with creating a TIDE account.</p>
<p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your 
    inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address. 
    You may also want to work with your school/district technical contact to add this address to your safe senders list.</p>
<p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.</p>
<p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on 
    the second link in the email to request a new link.</p>
<p>If you have any further questions you can reply directly to this email, or call us at the number listed below and reference 
    case# {Case Number}.</p>
<p>{Closing},<br>
{Agent Name}<br>
Texas Testing Support<br>
Phone: 833-601-8821<br>
Email: TexasTestingSupport@cambiumassessment.com<br>
https://TexasAssessment.gov</p>

Thank you for contacting Texas Testing Support. We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact your 'COORDINATOR' 'COORDINATOR NAME' at 'COORDINATOR EMAIL' for assistance with creating a TIDE account. 
Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address.
You may also want to work with your school/district technical contact to add this address to your safe senders list.
Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.
Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.
If you have any further questions you can reply directly to this email, or call us at the number listed below and reference case number 'CASE NUMBER'.

<p>Thank you for contacting Texas Testing Support. We have been unable to locate a TIDE account associated with either the name or email address provided. Please contact your {Coordinator Choices} {Coordinator Name} at {Coordinator Email} for assistance with creating a TIDE account. 
</p><p>Once your account has been created, you will receive an email containing two secure links. If this email does not appear in your inbox, you may need to check your junk mail or spam folders for a message from the DoNotReply@cambiumassessment.com email address.
</p><p>You may also want to work with your school/district technical contact to add this address to your safe senders list.
</p><p>Click the first link, follow the on-screen prompts and requirements to create a new password, and click Submit when finished.
</p><p>Please note, the secure link is only active for 15 minutes. If you miss the 15-minute window to reset your password, you can click on the second link in the email to request a new link.
</p><p>If you have any further questions you can reply directly to this email, or call us at the number listed below and reference case number {Case Number}.</p>